<ion-view id="player" after-leave="leave">
<ion-content>

  <div class="info">
      <h1 class="title">{{ vlc.player.clip.title }}</h1>
      <h2 class="time">{{ vlc.player.clip.length | formatTime }}</h2>
  </div>

  <div class="controls">
    <div class="button-bar">

    </div>

    <div class="range">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume">
      <i class="icon ion-volume-high"></i>
    </div>

    <a ng-click="vlc.toggle()"
      class="play button button-block button-dark icon {{ vlc.player.status !== 'playing' ? 'ion-play' : 'ion-pause' }}">
    </a>

    <div class="range">
      <input type="range"
        name="time"
        min="0"
        max="{{ vlc.player.clip.length }}"
        ng-model="vlc.player.time"
        ng-change="vlc.seek(vlc.player.time)">
    </div>

    <div class="button-bar">
      <a ng-click="vlc.previous()" class="button icon ion-ios-skipbackward"></a>
      <a ng-click="vlc.seek('-10')" class="button icon ion-skip-backward"></a>
      <span class="button col-50">{{ vlc.player.time | formatTime }}</span>
      <a ng-click="vlc.seek('+10')" class="button icon ion-skip-forward"></a>
      <a ng-click="vlc.next()" class="button icon ion-ios-skipforward"></a>
    </div>
  </div>
</ion-content>
</ion-view>
