<ion-view id="player" after-leave="leave">

<ion-content>

  <div class="info">
      <h1 class="title">{{ player.clip.title }}</h1>
      <h2 class="time">{{ player.clip.length | formatTime }}</h2>
  </div>

  <div class="controls">
    <div class="button-bar">
          <span class="button button-block col-50">{{ player.time | formatTime }}</span>
    </div>

    <div class="range">
      <input type="range" name="time" min="0" max="{{ player.clip.length }}" ng-model="player.time" ng-change="player.seek(player.time)">
    </div>

    <div class="button-bar">
      <a ng-click="player.previous()" class="button icon ion-ios-skipbackward"></a>
      <a ng-click="player.seek('-10')" class="button icon ion-skip-backward"></a>
      <a ng-click="player.seek('+10')" class="button icon ion-skip-forward"></a>
      <a ng-click="player.next()" class="button icon ion-ios-skipforward"></a>
    </div>

    <div class="range">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume">
      <i class="icon ion-volume-high"></i>
    </div>

    <a ng-click="player.toggle()"
      class="button button-block icon {{ player.state !== 'playing' ? 'ion-play button-balanced' : 'ion-pause button-energized' }}">
    </a>
  </div>
</ion-content>
</ion-view>
