a.help {
  display: block;
  text-align: center;
}

/*ion-content > .scroll {
  min-height: 100%;
}*/

#loading ion-spinner {
  margin: auto;
}

#loading h1 {
  font-size: 100%;
}

#loading h2 {
  font-size: 90%;
  font-style: italic;
}

#player .info {
  background: #222;
  padding: 20px;
}

#player .info * {
  color: white;
}

#player .info .title {
  font-size: 25px;
  white-space: nowrap;
}

#player .info .time {
  margin-left: 10px;
  font-size: 20px;
}

ion-content.center-content .scroll {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}

.center-content .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
